@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.container{
    width: 100%;
    height: 100vh;
    background: #2b2b2b;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card{
    width: 380px;
    perspective: 1000px;
    cursor: pointer;
}

.card-inner{
    position: relative;
    width: 100%;
    text-align: center;
    transform-style: preserve-3d;
    transition: transform 1s;
}

.front-face{
    backface-visibility: hidden;

}

.front-face img{
    width: 100%;
    border-radius: 10px;

}

.back-face{
    backface-visibility: hidden;
    background: #c62600;
    color: #fff;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    transform: rotateY(180deg);
}

.back-face h2{
    font-size: 50px;
    margin-top: 10px;
    font-weight: 600;
}
.back-face p{
    margin-top: 10px;
    font-weight: 300;
    font-size: 16px;
}

.social-media img{
    color: #fff;
    width: 30px;
    height: 30px;
    line-height: 40px;
    font-size: 18px;
    background: #e43a00;
    border-radius: 20%;
    margin: 25px 6px ;
}

.btn{
    color: #333;
    font-size: 20px;
    text-decoration: none;
    background: #fff;
    padding: 10px 20px;
    border-radius: 25px;
    margin: 10px;
}


button {
    background-color: #f7eaea;
    border-radius: 15px;
    color: #fff;
    cursor: pointer;
    padding: 1px 5px;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 1px;
    border: none;
    padding-bottom: 12px;
    padding-left: 0px ;
    width: 150px;
    box-shadow: 0 5px 8px rgba(0,0,0,0.2);
   }
   
button:hover {
    background-image: linear-gradient(90deg,#e6872f,#ffc72d);
    
}


.card:hover .card-inner{
    transform: rotateY(-180deg);
}


@media screen and (max-width: 386px){
    .butt{
        margin-left: 98px !important;
    }
}
